<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <mat-toolbar color="primary" >
    <div>
      <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <a routerLink=""></a> -->
      <button  mat-fab  color="primary" aria-label="Example icon button with a home icon" matRipple [matRippleCentered]="true" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>  
    </div>
    <span class="example-spacer"></span>
    <div >
      <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matBadge="1" matBadgeColor="warn" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon matBadge="1" matBadgeColor="warn">notifications_on</mat-icon>
          <span class="bg-blue-600">消息</span>
        </button>
      </mat-menu>
      <button  mat-stroked-button color="basic" routerLink="/login">登录</button>
    </div>
  </mat-toolbar>

  <!-- 动态路由占位 -->
  <router-outlet></router-outlet>

</body>
</html>